@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans:wght@300;400;700&display=swap');

*{
    
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

div.nav-bar {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 1rem 0;
    padding: 1rem 6rem;
    width: 100vw;
    background-color: #b0e4d1;
}

div.logo {
    font-size: 1.5rem;
    color: rgb(39, 38, 38);
}

.logo img:first-child{
    padding-right: 3px;
    margin-bottom: 5px;
    width: 20px;
}
.logo img:last-child{
    margin-bottom: 3px;
    padding-left: 3px;
}


.hamburger{
    background-color: transparent;
    border: 0;
    display: none;
    color: #fff;
    cursor: pointer;
    font-size:20px;
} 
ul li a{
    text-decoration: none;
    color: #000000;
}

body{
    font-family: 'Merriweather Sans', sans-serif;
    min-height: 100vh;
    background-color: #b0e4d1;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
}

h5 {
    font-weight: lighter;
}

/* nav {
    padding: 2rem;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    align-items: center;

} */


ul{
    display: flex;
    justify-content: space-between;
}
li {
    padding-left: 2rem;
    list-style-type: none;
}
header {
    /* width: 1031;
    height: 271px; */
    justify-content: center;
    margin: 0 auto;
    width: 70%;
    align-items: center;
    /* border: 1px solid red; */
}
.header-info {
    display: flex;
    /* justify-content: space-between; */
    width: 100%;
    
}
.cover-photo {
    background-size: cover;
    width: 100%; 
    height: 150px;
    object-fit: cover;

}
.prof {
font-weight: lighter;
}

.user-photo {
    margin-top: -2rem;
    margin-left: 4rem;
    width: 80px;
    height: 80px;
    border-radius: 50%;
}
.bio {
    /* width: 100%; */
    /* margin: 0 auto; */
    flex-wrap: wrap;
    padding: 1rem;
    margin-bottom: 1rem;
    margin-top: 1rem ;
    /* border: 1px solid green; */
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
  }


.deep-blue{
    color: #3FA2F7;
}
form {
    display: flex;
    width: 100%
    
    
}
form input{
    /* margin: 0 3rem; */
    width: 50%;
    
    justify-content: space-between;
}
input{
    padding: 5px;
    font-family: inherit;
    border-radius: 3px;
    border: 1px solid #c4c4c4;
}
span {
    display: block;
    margin-top: 0;
}
section {
    flex-wrap: wrap;
    width: 70%;
    /* justify-content: center; */
    /* align-items: center; */
    margin: 3rem auto 10rem auto;
    /* border: 1px solid red; */

}
.wrapper {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 30px;
    grid: 100%;
/* padding-right: 0; */
}
.wrapper.box {
    width: 100%;
    position: relative;
}



.education {
    flex-wrap: wrap;
    padding: 1rem;
    /* border: 1px solid grey; */
    border-radius: 2px;
    margin-top: 1rem;
    margin-bottom: 1rem;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    
}
.skill {
    display: flex;
    width: 100%;
    padding: 1rem;
    flex-wrap: wrap;
    /* justify-content: space-between; */
}
.bio-skill{
    flex-wrap: wrap;
    justify-content: space-between;
    display: flex;
    width: 100%;
    padding: 1rem 1rem 1rem 0;
}
.img{
    width: 20px;
    height: 20px;
    border-radius: 50%;
}
.mark {
    display: flex;
    font-size: 12px;
    font-weight:lighter;
    color: #959595;
}
.mark a{
    color: #3fa2f7;
    text-decoration: none;
}
p{
    font-size: 14px;
}
p.grey{
    color: #c4c4c4;
}
.grey{
    color: #959595;
}
article h3 {
font-weight: 400;
margin-bottom: 1.5rem;
}

.ui {
    justify-content: center;
    align-items: center;
}
.hobb-section {
    align-items: center;
    display: flex;
}
#hobbies{
    font-family: inherit;
    height: 2rem;
    width: 50%;
     padding: 2px;
    border-radius: 5px; 
}
.career {
    align-items: center;
    display: flex;
    font-size: 10px;
    margin-left: rem;
    margin-right: 1rem;
}
.lorem{
    margin-left: auto;
    width: 79%;
}
.career-div{
    display: flex;
    align-items: center;
}
/* .new{
    padding: 1rem;
} */
.btn {
   margin-left: 0;
}
.social-icons {
    
    /* padding-left: 12rem; */
    margin-left: auto;
    padding-top: 0.5rem;
    
}
.new-links {
    display: flex;
    justify-content: space-between;
}
.new-links .soc-med{
    margin-left: 0.5rem;
}
.name {
    /* display: flex; */
    padding: 0.5rem;
}
button {
    font-family: inherit;
    margin: 1rem; 
    background-color: #1feda3;
    width: 6rem;
    padding: 5px;
    border: none;
    border-radius: 5px;
}
.college{
    display: flex;
    flex-wrap: wrap;
    margin: 1rem 0 1rem 2rem;
}
.img {
    margin: 0 1rem;
}
.titles{
    display: flex;
    justify-content: space-between;
    padding: 1rem 0;

}
.tit-input{
    background-color: #EAEAEA;
    outline: none;
    width: 60%;
    color: #959595;
    border-radius: 5px;
    padding: 5px;
}
.btn{
    margin-left: auto;
    margin-right: 0;
}

.details {
    background-color: #fff;
    flex-wrap: wrap;
    margin: 2.5rem 0;
    padding: 2rem;
    width: 100%;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1); 

   
}
 
.per-details {
    align-items: center;
    flex-wrap: wrap;
    display: flex;
    margin-bottom: 2rem;
}
.ico{
    margin-left: 2rem;
    padding: 0 1rem;
    font-size: 11px;
}
.endorsements{
    width: 60%;
    display: flex;
    justify-content: space-between;
    /* margin-right: 0; */
    /* margin-top: 2rem; */
    margin-left: auto;
    flex-wrap: wrap;
}

.endorse{
    display: flex;
    flex-direction: column;
    right: 1rem;
}
.hobbiees{
    align-items: center;
   
    width: 100%;
    display: flex;
    margin: 1.5rem 0;
    justify-content: space-between;
    
}
.hobb {
    display: flex; 
    
    
}
.emoji{
display: flex;
flex-wrap: wrap;
}
 .hobby{
    width: 60%;
    display: flex;
    flex-wrap: wrap;
  
    justify-content: space-between; 
 
 
    
    /* width: 60%; */
    /* justify-content: space-between; */
}
 .manif{
    margin-top: 2rem;
    }

.emoji h4 {
    /* font-size: smaller; */
}
.pub{
    font-size: 12px;
    color: #3FA2F7;
}
.box p{
    flex-wrap: wrap;
}
.box {
    background-color: #EAEAEA;
    color: #959595;
    flex-wrap: wrap;
    margin-bottom: 1rem;
    justify-content: center;
    text-align: center;
    padding: 5px;
    width: 30%;
    border-radius: 5px;
    /* height: 1rem; */
} 
.green{
    color: #1FEDA3;
}
.yellow {
    color: #FFC400;
}
.red {
    color: #EB5757;
}
.hob-box{
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 1rem;
    margin-right: 0.5rem;
    justify-content: center;
    text-align: center;
    padding: 5px;
    width: 23%;
    border-radius: 5px;
}
.new-box{
    background-color: #EAEAEA;
    color: #959595;
    margin-bottom: 1rem;
    justify-content: center;
    text-align: center;
    padding: 5px;
    width: 50%;
    border-radius: 5px;
}
.promises{
    background-color: #EAEAEA;
    color: #959595;
    flex-wrap: wrap;
    padding: 1rem;
    width: 60%;
    margin-left: auto;
    margin-top: -1rem;
}
.prom {
    display: flex;
    justify-content: space-between;
    padding: 5px;
}
.manifesto{
    margin: 2rem 0;
}
.milestones {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 60%;
    margin-left: auto;
}
article {
    width: 60%;
    /* justify-content: center; */
    /* align-items: center; */
    margin: 6rem auto;
    /* border: 1px solid red; */
    /* display: flex; */

}
i{
    margin: 0 1rem;
}
.container{
    display: flex;
    justify-content: space-between;
}
.post {
    width: 40%;
}
.toggle .a {
    display: flex;
    padding: 0.5rem;
    margin-left: auto;
    
}
.laut{
    display: flex;
}
.link {
    color: #00A86E;
}
/* .manif {
    padding-bottom: 8px; */
}
/* i {
    color: #1FEDA3;
    font-size: 10px;
} */
/* i .edit {
    font-size: 2px;
} */
.interact {
    align-items: center;
    display: flex;
    justify-content: space-between;
    /* font-size: 14px; */
    margin: 8px 0 14px 0 ;
    color: #1FEDA3;
}
.edit {
   color: #3FA2F7; 
}
.icons {
    color: #666666;
}
.soc-med{
    font-size: large;
    align-items: 14px;
}
i.media {
    font-size: 14px;
    font-weight: 400;
}
h5.media{
    font-size: 14px;
    font-weight: 400;
}


footer{
    margin-top: 5rem;
    background: #0a8057;    
    /* position: fixed; */
    left: 0;
    bottom: 0;
    width: 100%;
    color: white;
    padding: 10px;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    height: 125px;
}

.footertop{
    width:25%;
}

footer a{
    text-decoration: none;
    color: rgb(233, 230, 230);
    font-size: 10pt; 
    display: block;
    padding-top: 5px;
       
}

.footertop img{
    padding-right: 10px;
    width:22px;
}

.desc{
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 14pt;
}

.fa {
    padding: 10px;
    font-size: 30px;
    width: 15px;    
    text-decoration:none;
    border-radius: 40%;
  }
  
   .fa:hover {
    opacity: 0.7;
  }
    
@media screen and (max-width:768px){  
    ul.nav-links{
        display: none;
        width:100%;
  }

    ul.nav-links.show{
        display: flex;
    }

   .hamburger{
      display: block; 
  } 

    div.nav-bar{
        display: flex;
        justify-content: space-between;
        padding: 1rem;
        width: 100vw;
    }

    div.logo {
    
        font-size: 1.3rem;
        align-items: center;
        
    }
    ul.nav-links{
        flex-direction: column;
    }

    ul li{
        margin: 0;
        font-size: 1rem;
    }

    ul li a{
        display: block;
    }
    
    section{
        width: 80%
    }

    .ico{
        
            margin-left: 5px;
            padding: 0 5px;
            font-size: 11px;
        }

        i{
            margin: 0 5px;
        }

    .college{
        flex-direction: column;
    }
    .tit-input{
        width: 30%;
        outline: none;
    }

    /* .hobby{
        width: 70%;

    } */
.emoji {
    margin: 5px;
}
.endorsements{
    width: 50%;
}
.box P{
    font-size: 10px;
}
/* .vote { */
/* flex-direction: column; */
    /* flex-direction: column; */
}
.promises{
    margin-top: 0.5rem;
}

.bio-skill{
    flex-direction: column;
}
.career{
    padding: 0.5rem 0;
}

.lorem {
    margin-right: auto;
    width: 100%;
}







    footer {
        gap: 50px 0;
      }
    
      footer.footertop {
        width: 50%;
      }
 }

















/* 
@media screen and (max-width: 480px) {
    nav {
        height: 10rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1rem;
        width: 100vw;

    }
    .header{
        width: 100%;
    }
    ul.nav-links a{
        color: var(--clr-grey-3);
        font-size: 1rem;
        text-transform: capitalize;
        letter-spacing: var(--spacing);
        display: block;
        padding: 0.5rem 1rem;
        transition: var(--transition);
    }
ul.nav-links {
    height: 10rem;
    flex-direction: column;
    right: 0.1rem;
    padding-top: 1.0rem; 
    position: absolute; 
}
.cover-photo{
    justify-content: center;
    width: 100%;
}
.header-info {
   flex-direction: column;
   justify-content: center;
   text-align: center;
}
.user-photo{
    margin: -2rem auto 0 auto;
}

.social-icons{
    justify-content: center;
    text-align: center;
    margin: 0 auto;
}
section {
     width: 80%; 
    display: flex;
    margin: 2rem 2rem;
    flex-wrap: wrap;
} 
 .bio {display: flex;
     flex-wrap: wrap;
     padding: 1rem;
     
} 
.wrapper{
    width: 80%;
    display: flex;
    flex-direction: column;
}


 .bio-skill{
    flex-direction: column;
    flex-wrap: wrap;
} 
.box input {
     margin: 16px 0; 
}
.box label {
    width: 100%;
}

.career {
    align-items: center;
    display: flex;
    font-size: 16px;
    margin: 0.5rem;
    flex-wrap: wrap;
    
    
    /* margin-right: 0.5rem; */
/* 
}
.education{
    /* width: 80%; */
    /* display: flex;
    flex-direction: column;
    flex-wrap: wrap;
} */
/* .skill{
    flex-wrap: wrap;
}
.btn {
    justify-content: center;
    align-items: center;
    margin: 0 auto;
} */
/* .container{
    flex-direction: column;
}
.post{
    width: 100%;
}
.new-links {
    /* font-size: 16px; */
    justify-content: space-around; */
    
/* }
.soc-med {
    font-size: large;
    align-items: center;
}

}  */

  
    /* nav { 
         align-items: center;
    } 
 .header-info{
     justify-content: space-between; 
    flex-wrap: wrap;
}  */
 /* .user-photo{
    margin: 0; 
 }
 .social-icons{
    margin: 0 auto;
} 
 .bio-skill{
    flex-direction: column;
}  
  section{
    width: 80%; 
}
 article{
    width: 80%;  */
/* }
 .post {
    width: 45%;
}    */
 */
