.brand {
    display: flex;
}

.brand p {
    font-size: 0.85rem;
    font-weight: 400;
    margin-left: 5px;
}

footer {
    background: #0A8057;
    padding: 30px 5%;
    display: flex;
    flex-wrap: wrap;
    margin-top: auto;
    color: #FFFFFF;
}

footer .brand {
    align-items: center;
}

footer .link a {
    color: #FFFFFF;
    margin: 0;
}

a#mgt {
    margin-top: 10px;
}

footer .link {
    width: 25%;
}

footer .link h4 {
    font-size: 0.85rem;
    font-weight: 400;
    margin-bottom: 15px;
}

footer .link a {
    font-size: 0.75rem;
    font-weight: 300;
    line-height: 20px;
    color: #FFFFFF;
    display: block;
}

.socials {
    display: flex;
}

.socials img {
    width: 30px;
    height: 30px;
    margin-right: 10px;
}

@media screen and (max-width:720px) {
    footer .link {
        width: 50%;
        margin-bottom: 30px;
    }
    footer .link:nth-child(3),
    footer .link:nth-child(4) {
        margin-bottom: 0;
    }
}