:root {
  --primary-color: #0a8057;
  --secondary-color: #333333;
  --color1: #959595;
  --color2: #00a86e;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Merriweather Sans", sans-serif;
}

.container {
  max-width: 80%;
  margin: 6rem auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.top {
  margin-bottom: 1rem;
}

.top img {
  width: 300px;
}

.middle h1 {
  margin-bottom: 5px;
}

.middle p {
  margin-bottom: 1rem;
}

.middle ul {
  margin-left: 2rem;
  margin-bottom: 1rem;
}

.bottom {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.bottom a:not(.back) {
  text-decoration: none;
  color: var(--color2);
}

.back {
  background-color: var(--color2);
  color: #ffffff;
  text-decoration: none;
  margin-top: 1.3rem;
  border-radius: 10px;
  padding: 0.6rem 1.2rem;
}
