* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Times New Roman', Times, serif;
}
main{
    /* width: 100vw; */
    overflow-x: hidden;
    
}

header{
    text-align: center;
    font-size:25px;
}
.main1{
    display: flex;
    padding-top: 10px;
    padding-bottom: 10px;
    width:100%;
}
.text{
    padding-left: 20px;
    padding-right: 20px;
}
.text h3{
    padding-bottom: 10px;
}
.main1 img{
    float:right;
    padding-left: 10px;
    padding-right: 10px;
}

.main2{
    display:flex;
    flex-wrap: wrap;
    /* height: auto; */
    padding-top: 20px;
    padding-bottom: 20px
}
.boxes{
    width:50%;
    float: left;
    padding-left:30px;
    padding-right: 30px;
    padding-top: 20px;
    padding-bottom: 20PX;
    
}

.box-content{
    background: cyan;
    border-radius: 20px;
    width: 70%;
}

.boxes h4{
    padding-top: 10px;
    padding-bottom: 10px;
}

.boxes img{
    max-width: 50%;
}