/*Contact Us Page*/

@import url("https://fonts.googleapis.com/css2?family=Merriweather+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,800&display=swap");

/*navbar style*/
nav {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Merriweather Sans", sans-serif;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: #333333;
}

.logo-container {
  display: flex;
  align-items: center;
}

.logo-container img {
  margin-right: 4px;
  width: 20%;
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  background: #fff;
  z-index: 99;
}

.nav-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
}

.nav-toggle {
  font-size: 1.5rem;
  color: #0a8057;
  background: transparent;
  border-color: transparent;
  cursor: pointer;
  outline: none;
}

.nav-toggle:hover {
  color: #333333;
}

.logo {
  height: 40px;
}

.links a {
  color: #333333;
  text-transform: capitalize;
  display: block;
  padding: 0.5rem 1rem;
  transition: all 0.3s linear;
  font-size: 12px;
}

.links a:hover {
  color: #0a8057;
  padding-left: 1.5rem;
}

.links {
  height: 0;
  overflow: hidden;
  transition: all 0.3s linear;
}

.show-links {
  height: 18rem;
}

.active {
  color: #0a8057;
}

.active a {
  color: #0a8057;
  font-weight: bold;
}

@media screen and (min-width: 800px) {
  nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    background: #fff;
  }

  .nav-center {
    max-width: 1170px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 1rem;
  }

  .nav-header {
    padding: 0;
  }

  .nav-toggle {
    display: none;
  }

  .links {
    height: 25px;
    display: flex;
  }

  .nav-item {
    margin: 0 10px;
    padding: 4px;
    border-bottom: none;
    transition: all 0.3s ease-in;
    cursor: pointer;
  }

  .nav-item:hover {
    border-bottom: 4px solid #0a8057;
  }

  .nav-item:hover a {
    color: #0a8057;
  }

  .links a {
    padding: 0;
    margin: 0 0.5rem;
  }

  .links a:hover {
    padding: 0;
    background: transparent;
  }

  .active {
    color: #0a8057;
    border-bottom: 4px solid #0a8057;
  }
}

/*contact style*/
.body-contact {
  margin-top: 100px;
}

body {
  font-family: "Merriweather Sans", sans-serif;
  background: #ffffff;
  color: #333333;
}

h1 {
  color: #000000;
  font-style: normal;
  font-weight: 700;
  font-size: 49px;
  line-height: 62px;
  margin: 0;
  padding: 0;
  text-align: center;
}

h4 {
  font-style: normal;
  font-weight: 400;
  font-size: 25px;
  line-height: 32px;
  color: #828282;
  text-align: center;
}

.container {
  width: 90%;
  margin: auto;
  /*padding: 20px;*/
}

.left {
  width: 44%;
  padding: 0 20px;
  float: left;
  /* border: 1px solid blue;*/
}

h2 {
  font-style: normal;
  font-weight: 700;
  font-size: 39.06px;
  line-height: 49px;
  margin: 0;
  padding: 0;
}

.big-p {
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 25px;
}

.small-p {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
}

input {
  padding-left: 10px;
}

.contact-parent {
  height: 430px;
  padding-left: 40px;
}

.contact-child {
  display: flex;
  margin: 0;
  padding: 10px;
}

.green-contact {
  background: #0a8057;
  color: #ffffff;
  width: 460px;
  height: 560px;
  padding-left: 40px;
  padding-top: 40px;
}

.big-p {
  color: #f2f2f2;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 25px;
}

img {
  margin-right: 10px;
}

.small-p {
  color: #333333;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
}

.parent-info {
  margin-top: 70px;
  padding: 10px;
}

.contact-info {
  display: block;
  justify-content: space-around;
  padding: 18px 0;
}

.contactform-div {
  flex-wrap: wrap;
  font-family: "Merriweather Sans";
  height: 700px;
  width: 650px;
  position: relative;
  padding: 20px;
  margin: 0 70px;
  border-radius: 5px;
}

.parent-div {
  display: flex;
}

.child-div {
  flex-wrap: wrap;
  margin-right: 15px;
  position: relative;
}

#firstname {
  font-family: "Merriweather Sans";
  background: #f2f2f2;
  border-radius: 5px;
  border: none;
  width: 240px;
  height: 40px;
  outline: none;
}

#lastname {
  font-family: "Merriweather Sans";
  background: #f2f2f2;
  border-radius: 5px;
  border: none;
  width: 240px;
  height: 40px;
  outline: none;
}

#email {
  font-family: "Merriweather Sans";
  background: #f2f2f2;
  border-radius: 5px;
  border: none;
  width: 240px;
  height: 40px;
  outline: none;
}

#phone {
  font-family: "Merriweather Sans";
  background: #f2f2f2;
  border-radius: 5px;
  border: none;
  width: 240px;
  height: 40px;
  outline: none;
}

#info {
  font-family: "Merriweather Sans";
  background: #f2f2f2;
  border-radius: 5px;
  border: none;
  width: 510px;
  height: 40px;
}

#message {
  font-family: "Merriweather Sans";
  background: #f2f2f2;
  border-radius: 5px;
  border: none;
  width: 510px;
  height: 190px;
}

.small {
  visibility: hidden;
  color: #e74c3c;
}

.button {
  background: #1feda3;
  color: #000000;
  border-radius: 5px;
  border: none;
  width: 515px;
  height: 40px;
  margin-top: 15px;
  margin-bottom: 15px;
}

/*Contact Us Page Media Query*/

@media (max-width: 1200px) {
  h1 {
    font-weight: 600;
    font-size: 42px;
    line-height: 50px;
  }
  
  h4 {
    font-weight: 300;
    font-size: 18px;
    line-height: 25px;
  }
  
  h2 {
    font-weight: 600;
    font-size: 33px;
    line-height: 40px;
  }
  
  .big-p {
    font-size: 16px;
    line-height: 18px;
  }
  
  .small-p {
    font-size: 12px;
    line-height: 16px;
  }
  
  input {
    padding-left: 8px;
  }
  
  .contact-parent {
    height: 430px;
    margin:0 10px;
    padding-left: 20px;
  }
  
  .contact-child {
    display: flex;
    margin: 0;
    padding: 10px;
  }
  
  .green-contact {
    width: 380px;
    height: 520px;
    padding-left: 30px;
    padding-top: 30px;
  }
  
  .big-p {
    font-weight: 300;
    font-size: 15px;
    line-height: 20px;
  }
  
  img {
    margin-right: 8px;
  }
  
  .small-p {
    font-size: 12px;
    line-height: 15px;
  }
  
  .parent-info {
    margin-top: 70px;
    padding: 10px;
  }
  
  .contactform-div {
    height: 650px;
    width: 600px;
    padding: 10px;
    margin: 0 30px;
  }
  
  .parent-div {
    display: flex;
  }
  
  .child-div {
    flex-wrap: wrap;
    margin-right: 12px;
    position: relative;
  }
  
  #firstname {
    width: 220px;
  }
  
  #lastname {
    width: 220px;
  }
  
  #email {
    width: 220px;
  }
  
  #phone {
    width: 220px;
  }
  
  #info {
    width: 490px;
  }
  
  #message {
    width: 490px;
    height: 190px;
  }

  .button {
    width: 495px;
    margin-top: 12px;
    margin-bottom: 12px;
  }
}

@media (max-width: 1000px) {
  h1 {
    font-weight: 600;
    font-size: 42px;
    line-height: 50px;
  }
  
  h4 {
    font-weight: 300;
    font-size: 18px;
    line-height: 25px;
  }
  
  h2 {
    font-weight: 600;
    font-size: 33px;
    line-height: 40px;
  }
  
  .big-p {
    font-size: 16px;
    line-height: 18px;
  }
  
  .small-p {
    font-size: 12px;
    line-height: 16px;
  }
  
  input {
    padding-left: 8px;
  }
  
  .contact-parent {
    height: 430px;
    margin:0 10px;
    padding-left: 20px;
  }
  
  .contact-child {
    display: flex;
    margin: 0;
    padding: 10px;
  }
  
  .green-contact {
    width: 380px;
    height: 520px;
    padding-left: 30px;
    padding-top: 30px;
  }
  
  .big-p {
    font-weight: 300;
    font-size: 15px;
    line-height: 20px;
  }
  
  img {
    margin-right: 8px;
  }
  
  .small-p {
    font-size: 12px;
    line-height: 15px;
  }
  
  .parent-info {
    margin-top: 70px;
    padding: 10px;
  }
  
  .contactform-div {
    height: 650px;
    width: 600px;
    padding: 10px;
    margin: 0 30px;
  }
  
  .parent-div {
    display: flex;
  }
  
  .child-div {
    flex-wrap: wrap;
    margin-right: 12px;
    position: relative;
  }
  
  #firstname {
    width: 220px;
  }
  
  #lastname {
    width: 220px;
  }
  
  #email {
    width: 220px;
  }
  
  #phone {
    width: 220px;
  }
  
  #info {
    width: 490px;
  }
  
  #message {
    width: 490px;
    height: 190px;
  }

  .button {
    width: 495px;
    margin-top: 12px;
    margin-bottom: 12px;
  }
}

@media (max-width: 768px) {
  h1 {
    font-weight: 600;
    font-size: 42px;
    line-height: 50px;
  }
  
  h4 {
    font-weight: 300;
    font-size: 18px;
    line-height: 25px;
  }
  
  h2 {
    font-weight: 600;
    font-size: 33px;
    line-height: 40px;
  }
  
  .big-p {
    font-size: 16px;
    line-height: 18px;
  }
  
  .small-p {
    font-size: 12px;
    line-height: 16px;
  }

  input {
    padding-left: 8px;
  }
  
  .contact-parent {
    height: 430px;
    padding-left: 0;
  }
  
  .contact-child {
    display: block;
    margin: 0;
    padding: 0;
  }
  
  .green-contact {
    background: #0a8057;
    color: #ffffff;
    width: 690px;
    height: 560px;
    padding-left: 40px;
    padding-top: 40px;
  }
  
  .big-p {
    color: #f2f2f2;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 25px;
  }
  
  img {
    margin-right: 10px;
  }
  
  .small-p {
    color: #333333;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
  }
  
  .parent-info {
    margin-top: 70px;
    padding: 10px;
  }
  
  .contact-info {
    display: block;
    justify-content: space-around;
    padding: 18px 0;
  }
  
  .contactform-div {
    flex-wrap: wrap;
    font-family: "Merriweather Sans";
    height: 700px;
    width: 630px;
    position: relative;
    padding: 20px 30px 20px 70px;
    margin: 0 auto;
  }
  
  .parent-div {
    display: flex;
  }
  
  .child-div {
    flex-wrap: wrap;
    margin-right: 15px;
    width: 250px;
  }
  
  #firstname {
    font-family: "Merriweather Sans";
    background: #f2f2f2;
    border-radius: 5px;
    border: none;
    width: 240px;
    height: 40px;
    outline: none;
  }
  
  #lastname {
    font-family: "Merriweather Sans";
    background: #f2f2f2;
    border-radius: 5px;
    border: none;
    width: 240px;
    height: 40px;
    outline: none;
  }
  
  #email {
    font-family: "Merriweather Sans";
    background: #f2f2f2;
    border-radius: 5px;
    border: none;
    width: 240px;
    height: 40px;
    outline: none;
  }
  
  #phone {
    font-family: "Merriweather Sans";
    background: #f2f2f2;
    border-radius: 5px;
    border: none;
    width: 240px;
    height: 40px;
    outline: none;
  }
  
  #info {
    font-family: "Merriweather Sans";
    background: #f2f2f2;
    border-radius: 5px;
    border: none;
    width: 510px;
    height: 40px;
  }
  
  #message {
    font-family: "Merriweather Sans";
    background: #f2f2f2;
    border-radius: 5px;
    border: none;
    width: 510px;
    height: 190px;
  }
  
  .button {
    background: #1feda3;
    color: #000000;
    border-radius: 5px;
    border: none;
    width: 515px;
    height: 40px;
    margin-top: 15px;
    margin-bottom: 15px;
  }
}

@media (max-width: 576px) {
  h1 {
    font-weight: 600;
    font-size: 42px;
    line-height: 50px;
  }
  
  h4 {
    font-weight: 300;
    font-size: 18px;
    line-height: 25px;
  }
  
  h2 {
    font-weight: 600;
    font-size: 33px;
    line-height: 40px;
  }
  
  .big-p {
    font-size: 16px;
    line-height: 18px;
  }
  
  .small-p {
    font-size: 12px;
    line-height: 16px;
  }
  
  input {
    padding-left: 8px;
  }
  
  .contact-parent {
    height: 430px;
    margin:0 10px;
    padding-left: 0;
  }
  
  .contact-child {
    display: block;
    margin: 0;
    padding: 10px;
  }
  
  .green-contact {
    width: 500px;
    height: 520px;
    padding-left: 30px;
    padding-top: 30px;
  }
  
  .big-p {
    font-weight: 300;
    font-size: 15px;
    line-height: 20px;
  }
  
  img {
    margin-right: 8px;
  }
  
  .small-p {
    font-size: 12px;
    line-height: 15px;
  }
  
  .parent-info {
    margin-top: 70px;
    padding: 10px;
  }
  
  .contactform-div {
    height: 750px;
    width: 500px;
    padding: 10px;
    margin: 0;
  }
  
  .parent-div {
    display: block;
  }
  
  .child-div {
    flex-wrap: wrap;
    margin-right: 0;
    width: 300px;
  }
  
  #firstname {
    width: 450px;
  }
  
  #lastname {
    width: 450px;
  }
  
  #email {
    width: 450px;
  }
  
  #phone {
    width: 450px;
  }
  
  #info {
    width: 450px;
  }
  
  #message {
    width: 450px;
    height: 100px;
  }

  .button {
    width: 455px;
    margin-top: 8px;
    margin-bottom: 8px;
  }
}

@media (max-width: 425px) {
  h1 {
    font-weight: 500;
    font-size: 40px;
    line-height: 45px;
  }
  
  h4 {
    font-weight: 300;
    font-size: 15px;
    line-height: 20px;
  }
  
  h2 {
    font-weight: 500;
    font-size: 30px;
    line-height: 35px;
  }
  
  .big-p {
    font-size: 13px;
    line-height: 15px;
  }
  
  .small-p {
    font-size: 10px;
    line-height: 12px;
  }
  
  input {
    padding-left: 6px;
  }
  
  .contact-parent {
    height: 430px;
    margin:0 10px;
    padding-left: 0;
  }
  
  .contact-child {
    display: block;
    margin: 0;
    padding: 10px;
  }
  
  .green-contact {
    width: 330px;
    height: 450px;
    padding-left: 30px;
    padding-top: 30px;
  }
  
  .big-p {
    font-weight: 250;
    font-size: 12px;
    line-height: 15px;
  }
  
  img {
    margin-right: 6px;
  }
  
  .small-p {
    font-size: 12px;
    line-height: 15px;
  }
  
  .parent-info {
    margin-top: 70px;
    padding: 10px;
  }
  
  .contactform-div {
    height: 700px;
    width: 350px;
    padding: 10px;
    margin: 0;
  }
  
  .parent-div {
    display: block;
  }
  
  .child-div {
    flex-wrap: wrap;
    margin-right: 12px;
    position: relative;
  }
  
  #firstname {
    width: 340px;
  }
  
  #lastname {
    width: 340px;
  }
  
  #email {
    width: 340px;
  }
  
  #phone {
    width: 340px;
  }
  
  #info {
    width: 340px;
  }
  
  #message {
    width: 340px;
    height: 100px;
  }

  .button {
    width: 345px;
    margin-top: 5px;
    margin-bottom: 5px;
  }
}

@media (max-width: 375px) {
  h1 {
    font-weight: 400;
    font-size: 35px;
    line-height: 40px;
  }
  
  h4 {
    font-weight: 200;
    font-size: 10px;
    line-height: 15px;
  }
  
  h2 {
    font-weight: 400;
    font-size: 25px;
    line-height: 30px;
  }
  
  .big-p {
    font-size: 10px;
    line-height: 12px;
  }
  
  .small-p {
    font-size: 8px;
    line-height: 10px;
  }
  
  input {
    padding-left: 5px;
  }
  
  .green-contact {
    width: 250px;
    height: 450px;
    padding-left: 20px;
    padding-top: 0px;
  }
  
  .big-p {
    font-weight: 200;
    font-size: 10px;
    line-height: 12px;
  }
  
  img {
    margin-right: 5px;
  }
  
  .small-p {
    font-size: 10px;
    line-height: 12px;
  }
  
  .parent-info {
    margin-top: 50px;
    padding: 10px;
  }
  
  .contactform-div {
    height: 700px;
    width: 250px;
    padding: 10px;
    margin: 0;
  }
  
  .parent-div {
    display: block;
  }
  
  .child-div {
    flex-wrap: wrap;
    margin-right: 12px;
    width: 250px;
  }
  
  #firstname {
    width: 250px;
  }
  
  #lastname {
    width: 250px;
  }
  
  #email {
    width: 250px;
  }
  
  #phone {
    width: 250px;
  }
  
  #info {
    width: 250px;
  }
  
  #message {
    width: 250px;
    height: 100px;
  }

  .button {
    width: 255px;
    margin-top: 5px;
    margin-bottom: 5px;
  }
}

/*Footer Styles*/
body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.brand {
  display: flex;
}

.brand p {
  font-size: 0.85rem;
  font-weight: 400;
  margin-left: 5px;
}

footer {
  background: #0A8057;
  padding: 30px 5%;
  display: flex;
  flex-wrap: wrap;
  margin-top: auto;
  color: #FFFFFF;
}

footer .brand {
  align-items: center;
}

footer .link a {
  color: #FFFFFF;
  margin: 0;
}

a#mgt {
  margin-top: 10px;
}

footer .link {
  width: 25%;
}

footer .link h4 {
  font-size: 0.85rem;
  font-weight: 400;
  margin-bottom: 15px;
}

footer .link a {
  font-size: 0.75rem;
  font-weight: 300;
  line-height: 20px;
  color: #FFFFFF;
  display: block;
}

.socials {
  display: flex;
}

.socials img {
  width: 30px;
  height: 30px;
  margin-right: 10px;
}

@media screen and (max-width:720px) {
  footer .link {
      width: 50%;
      margin-bottom: 30px;
  }
  footer .link:nth-child(3),
  footer .link:nth-child(4) {
      margin-bottom: 0;
  }
}