@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
    font-family: 'Merriweather Sans', sans-serif
}

ul {
    list-style-type: none;
  }

a {
    text-decoration: none;
    color: none;
}

input,
button {
    outline: 0;
}

h1 {
    font-size: 33px;
    font-style: normal;
    font-weight: 700;
    line-height: 37px;
    letter-spacing: 0em;
    text-align: center;
    margin-bottom: 14px;
    text-transform: capitalize;
}

.content {
    margin-top: 50px;
    width: 100%;
    padding: 8px 10%;
}

.banner {
    display: block;
    margin-bottom: 40px;
}

.banner p {
    font-size: 10px;
    font-style: normal;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 0em;
    text-align: left;
    margin-bottom: 8px;
    color: #333333;
}


.right-banner-container {
    padding: 20px;
    height: 350px;
    width: 90%;
    box-shadow: 0px 2px 5px 0px #0000001A;
    position: relative;
    overflow: hidden;
}

.banner-carousel {
    display: flex;
    justify-content: center;
    position: relative;
    transition: all 0.3s ease-in-out;   
}

.image-wrapper {
    position: absolute;
    width: 100%;
}

.image-wrapper img {
    width: 100%;
    margin-bottom: 16px;
}

.carets {
    display: flex;
    justify-content: space-between;
    width: 30%;
    position: absolute;
    bottom: 16px;
    left: 35%;
}

.carets img {
    width: 25px;
    height: 25px;
    cursor: pointer;
    border-radius: 5px;
    padding: 5px 0;
    background: #219653;
    transition: all .3s;
}

.carets img:hover {
    background: #1FEDA3;
}

.left-caret {
    transform: rotate(180deg);
}



.news {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    margin: 64px 0 40px 0 ;
}

.left-news {
    background: #0A8057;
    padding: 1rem 1.65rem;
    color: #FFFFFF;
    width: 100%;
    margin-bottom: 40px;
}

.left-news h4 {
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 31px;
    letter-spacing: 0em;
    text-align: left;
    color: #FFFFFF;
    margin-bottom: 16px;


}

.news-card {
    display: flex;
    border-bottom: 1px #FFFFFF solid;
    padding: 0.75rem 0;
}

.news-card:last-child {
    border-bottom: 0;
    padding: 0.75rem 0 0 0;
}

.news-avatar {
    width: 50px;
    height: 50px;
    border-radius: 5px;
    margin-right: 15px;
}

.news-content {
    width: 80%;
    display: flex;
    flex-direction: column;
}

.headline {
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: left;
    color: #FFFFFF;

}

.news-meta {
    display: flex;
    justify-content: space-between;
    font-weight: 300;
    font-size: 0.65rem;
    margin-top: auto;
}

.news-meta span img {
    width: 5px;
    height: 5px;
    margin-right: 5px;
}

.right-news {
    width: 100%;
}

.news-heading {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 16px;
}

#view {
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: 31px;
    letter-spacing: 0em;
    text-align: left;
    color: #828282;
    transition: all .5s;
}

#view:hover {
    text-decoration: underline;
}

.news-card-container {
    display: flex;
    flex-wrap: wrap;
}

.news-card-content {
    width: 100%;
    margin-bottom: 35px;
}

.news-card-content img {
    width: 100%;
}

.aspirant-info {
    background: #F2F2F2;
    border-radius: 0px 0px 5px 5px;
    padding: 0.7rem;
    transform: translateY(-10px);
}

.aspirant-info p {
    font-size: 0.75rem;
    margin-bottom: 7px;
}

.aspirant-info p.aspirant-name {
    font-weight: 500;
    font-size: 0.9rem;
    margin-bottom: 10px;
}

.aspirant-info a {
    font-size: 0.85rem;
    color: #0077DC;
}

.subscription {
    margin: 8px 0;
    display: grid;
    grid-template-rows: auto auto auto;
    grid-row-gap: 24px;
}

.subscription h3{
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 39px;
    letter-spacing: 0em;
    text-align: center;
    text-transform: capitalize;
}

.subscription p {
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0em;
    text-align: center;
    color: #333333;
}

.subscription input {
    height: 30px;
    width: 65%;
    border-radius: 5px;
    border: 1px solid #E0E0E0;
    margin-right: 2%;
    padding-left: 1%
}

.subscription button {
    color: black;
    width: 30%;
    height: 30px;
    background: #1FEDA3;
    border:1px solid #1FEDA3;
    outline: none;
    border-radius: 5px;
    transition: all .3s;
}

.subscription button:hover {
    background-color: #219653;
    border:1px solid #219653;
}


@media screen and (min-width: 500px) {
    h3{
        font-size: 23px;
        font-style: normal;
        font-weight: 700;
        line-height: 39px;
        letter-spacing: 0em;
        text-align: left;
    }

    .banner p {
        font-size: 14px;
    }
    .right-banner-container {
        height: 500px;
    }

    .carets img {
        width: 30px;
        height: 30px;
    }

    .news {
        display: grid;
        grid-template-columns: 35% 60%;
        grid-column-gap: 2%
    }

    .headline {
        font-size: 14px;
    }

    .left-news h4 {
        font-size: 21px;
    }

    .news-card-container{
        display: grid;
        grid-template-columns: auto auto;
        grid-column-gap: 5%

    }
    .news-heading {
        flex-direction: row;
        margin-bottom: 0;
    }

    .news-heading h3 {
        font-size: 20px;
    }

    .content {
        margin-top: 80px;
    }



    #view {
        font-size: 14px;
        font-style: normal;
        font-weight: 700;
        line-height: 31px;
        letter-spacing: 0em;
        text-align: left;
        color: #828282;
    }

    .subscription {
        margin: 24px 0;
        display: grid;
        grid-template-rows: auto auto auto;
        grid-row-gap: 24px
    }
    
    .subscription h3{
        font-size: 28px;
        font-style: normal;
        font-weight: 700;
        line-height: 39px;
        letter-spacing: 0em;
        text-align: left;
        text-transform: capitalize;
    }
    
    .subscription p {
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: 22px;
        letter-spacing: 0em;
        text-align: left;
        color: #333333;
    }
    
    .subscription input {
        height: 40px;
        width: 40%;
        border-radius: 5px;
        border: 1px solid #E0E0E0;
        margin-right: 2%;
        padding-left: 1%
    }
    
    .subscription button {
        color: black;
        width: 10%;
        height: 40px;
        background: #1FEDA3;
        border:1px solid #1FEDA3;
        outline: none;
        border-radius: 5px;
    }
}


@media screen and (min-width: 800px) {
    h1 {
        font-size: 49px;
        font-style: normal;
        font-weight: 700;
        line-height: 61px;
        letter-spacing: 0em;
        text-align: left;
        margin-bottom: 16px;
        text-transform: capitalize;
    }

    h3{
        font-size: 30px;
        font-style: normal;
        font-weight: 700;
        line-height: 39px;
        letter-spacing: 0em;
        text-align: left;
    }
    
    .content {
        width: 100%;
        padding: 8px 10%;
        margin-top: 100px;
    }
    
    .banner {
        display: grid;
        grid-template-columns: 50% 45%;
        grid-column-gap: 5%;
        margin-bottom: 80px;
    }
    
    .banner p {
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: 25px;
        letter-spacing: 0em;
        text-align: left;
        margin-bottom: 8px;
    }
    
    .right-banner-container {
        padding: 20px;
        height: 100%;
        width: 90%;
        box-shadow: 0px 2px 5px 0px #0000001A;
        position: relative;
    
    }
    

    
    .image-wrapper img {
        width: 100%;
        margin-bottom: 16px;
    }
    
    .carets {
        display: flex;
        justify-content: space-between;
        width: 30%;
        position: absolute;
        bottom: 16px;
        left: 35%;
    }
    
    .carets img {
        width: 40px;
        height: 40px;
        cursor: pointer;
        border-radius: 5px;
        padding: 5px 0;
        background: #219653
    }

    .news {
        display: grid;
        grid-template-columns: 30% 60%;
        grid-column-gap: 5%
    }

    .news-card-container{
        display: grid;
        grid-template-columns: auto auto auto;
        grid-column-gap: 5%

    }
}


/* for navbar */
.logo-container {
    display: flex;
    align-items: center;
  }
  
  .logo-container img {
    margin-right: 4px;
    width: 20%;
  }
  
  
  nav{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    background: #fff;
    z-index: 99;
  }
  
  .nav-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
  }
  
  .nav-toggle {
    font-size: 1.5rem;
    color: #0A8057;
    background: transparent;
    border-color: transparent;
    cursor: pointer;
    outline: none;
  }
    
  .nav-toggle:hover {
    color: #333333;
  }
  
  .logo {
    height: 40px;
  }
  
  .links a {
    color: #333333;
    text-transform: capitalize;
    display: block;
    padding: 0.5rem 1rem;
    transition:  all 0.3s linear;
    font-size: 12px;
  }
      
  .links a:hover {
    color: #0A8057;
    padding-left: 1.5rem;
  }
  
  .links {
    height: 0;
    overflow: hidden;
    transition: all 0.3s linear;
  }
  
  .show-links {
    height: 18rem;
  }
  
  .active {
    color: #0A8057;
  }
  
  .active a{
    color: #0A8057;
    font-weight: bold;
  }
  
  @media screen and (min-width: 800px) {
    nav{
      position: fixed;
      top: 0;
      left: 0;
      width: 100vw;
      background: #fff;
    }
  
    .nav-center {
      max-width: 1170px;
      margin: 0 auto;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 1rem;
    }
  
    .nav-header {
      padding: 0;
    }
  
    .nav-toggle {
      display: none;
    }
  
    .links {
      height: 25px;
      display: flex;
    }
    
    .nav-item {
      margin: 0 10px;
      padding: 4px;
      border-bottom: none;
      transition:  all 0.3s ease-in;
      cursor: pointer;
    }
  
    .nav-item:hover {
      border-bottom: 4px solid #0A8057;
    }
              
    .nav-item:hover a {
      color: #0A8057;
    }
  
    .links a {
      padding: 0;
      margin: 0 0.5rem;
    }
  
    .links a:hover {
      padding: 0;
      background: transparent;
    }
  
    .active {
      color: #0A8057;
      border-bottom: 4px solid #0A8057;
    }
  }