/*Sign Up Page*/

@import url("https://fonts.googleapis.com/css2?family=Merriweather+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,800&display=swap");

body {
  font-family: "Merriweather Sans", sans-serif;
  background: #ffffff;
  color: #333333;
}

header {
  width: 100%;
  height: 80px;
  padding: 0 40px;
}

nav {
  display: inline-block;
  width: 90%;
  justify-content: space-between;
}

.logo-img {
  margin: 13px 20px;
  float: left;
}

.container {
  width: 90%;
  margin: auto;
  padding: 20px;
  display: flex;
}

.left {
  width: 43%;
  padding: 0 20px;
  float: left;
}

h2 {
  font-style: normal;
  font-weight: 700;
  font-size: 39.06px;
  line-height: 49px;
  margin: 0;
  padding: 0;
}

.big-p {
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 25px;
}

.small-p {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
}

input {
  padding-left: 10px;
}

.parent-div {
  display: flex;
  justify-content: space-around;
  margin-left: 32px;
}

.child-div {
  flex-wrap: wrap;
  margin-right: 15px;
  position: relative;
}

input:active {
  border: none;
}

.formcontrol.success input {
  border: 2px solid #2ecc71;
}

.formcontrol.error input {
  border: 2px solid #e74c3c;
}

#firstname {
  background: #f2f2f2;
  border-radius: 5px;
  border: none;
  width: 247px;
  height: 40px;
  outline: none;
}

#firstname.success {
  border: 2px solid #2ecc71;
}

#firstname.error {
  border: 2px solid #e74c3c;
}

#firstname.error small {
  color: #e74c3c;
  visibility: visible;
}

#lastname {
  background: #f2f2f2;
  border-radius: 5px;
  border: none;
  width: 247px;
  height: 40px;
  outline: none;
}

#lastname.success {
  border: 2px solid #2ecc71;
}

#lastname.error {
  border: 2px solid #e74c3c;
}

#lastname.error small {
  color: #e74c3c;
  visibility: visible;
}

#email {
  background: #f2f2f2;
  border-radius: 5px;
  border: none;
  width: 520px;
  height: 40px;
  outline: none;
}

#email.success {
  border: 2px solid #2ecc71;
}

#email.error {
  border: 2px solid #e74c3c;
}

#email.error small {
  color: #e74c3c;
  visibility: visible;
}

#password {
  background: #f2f2f2;
  border-radius: 5px;
  border: none;
  width: 247px;
  height: 40px;
  outline: none;
}

#password.success {
  border: 2px solid #2ecc71;
}

#password.error {
  border: 2px solid #e74c3c;
}

#confirmpassword {
  background: #f2f2f2;
  border-radius: 5px;
  border: none;
  width: 247px;
  height: 40px;
  outline: none;
}

#confirmpassword.success {
  border: 2px solid #2ecc71;
}

#confirmpassword.error {
  border: 2px solid #e74c3c;
}

.password-main {
  display: flex;
  background: #f2f2f2;
  border-radius: 5px;
  border: none;
  width: 258px;
  height: 42px;
}

.password-main.success {
  border: 2px solid #2ecc71;
}

.password-main.error {
  border: 2px solid #e74c3c;
}

.password-main.error small {
  color: #e74c3c;
  visibility: visible;
}

.password-eye {
  height: 12px;
  float: right;
  margin: 14px 4px;
  cursor: pointer;
}

#hide {
  display: none;
}

#close {
  display: none;
}

.small {
  visibility: hidden;
  color: #e74c3c;
}

.passwordError {
  position: absolute;
  bottom: -17px;
}

#parentstrength {
  margin-bottom: 0;
  margin-top: 2rem;
  visibility: hidden;
}

#divstrength {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  display: none;
}

.weak {
  background-color: #e74c3c;
  width: 70px;
  height: 4px;
  display: none;
  margin-right: 1rem;
}

.fair {
  background-color: orange;
  width: 70px;
  height: 4px;
  display: none;
  margin-right: 1rem;
}

.medium {
  background-color: yellow;
  width: 70px;
  height: 4px;
  display: none;
  margin-right: 1rem;
}

.passwordstrength {
  background: #56c568;
  width: 70px;
  height: 4px;
  display: none;
}

#green {
  font-weight: normal;
  font-size: 12px;
  line-height: 15px;
  color: #56c568;
  padding-left: 30px;
}

.button {
  background: #1feda3;
  color: #000000;
  border-radius: 5px;
  border: none;
  width: 515px;
  height: 40px;
  margin-top: 15px;
  margin-bottom: 15px;
}

a {
  text-decoration: none;
  color: #0077dc;
  padding: 0 3px;
}

.right {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 130px;
}

.signup-img {
  /* padding-top: 130px; */
  height: 300px;
}

/*Sign Up Media Queries*/

@media (max-width: 1000px) {
  h2 {
    font-weight: 600;
    font-size: 32px;
    line-height: 45px;
  }

  .big-p {
    font-size: 16px;
    line-height: 22px;
  }

  .small-p {
    font-size: 14px;
    line-height: 18px;
  }

  #firstname {
    width: 420px;
  }

  #lastname {
    width: 420px;
  }

  #email {
    width: 420px;
  }

  input {
    padding-left: 8px;
  }

  .password-main {
    width: 420px;
  }

  .parent-div {
    display: inline-block;
    margin-left: 25px;
  }

  #password {
    width: 420px;
  }

  #confirmpassword {
    width: 420px;
  }

  .passwordstrength {
    width: 50px;
  }

  #green {
    font-size: 10px;
    line-height: 12px;
    padding-left: 25px;
  }

  .button {
    width: 430px;
  }

  .right {
    padding-left: 100px;
  }

  .signup-img {
    padding: 80px;
    height: 250px;
  }
}

@media (max-width: 768px) {
  h2 {
    font-weight: 500;
    font-size: 28px;
    line-height: 40px;
  }

  .big-p {
    font-size: 14px;
    line-height: 18px;
  }

  .small-p {
    font-size: 12px;
    line-height: 15px;
  }

  #firstname {
    width: 350px;
  }

  #lastname {
    width: 350px;
  }

  #email {
    width: 350px;
  }

  input {
    padding-left: 6px;
  }

  .password-main {
    width: 350px;
  }

  /* .parent-div {
    margin-left: 20px;
  } */

  #password {
    width: 350px;
  }

  #confirmpassword {
    width: 350px;
  }

  .passwordstrength {
    width: 30px;
    height: 3px;
  }

  #green {
    font-size: 8px;
    line-height: 10px;
    padding-left: 20px;
  }

  .button {
    width: 360px;
  }

  .right {
    padding-left: 60px;
  }

  .signup-img {
    padding: 70px;
    height: 220px;
  }
}

@media (max-width: 716px) {
  .signup-div {
    display: none;
  }
}

@media (max-width: 576px) {
  h2 {
    font-weight: 400;
    font-size: 20px;
    line-height: 35px;
  }

  .big-p {
    font-size: 12px;
    line-height: 16px;
  }

  .small-p {
    font-size: 10px;
    line-height: 12px;
  }

  input {
    padding-left: 4px;
  }

  .password-main {
    width: 350px;
  }

  #green {
    font-size: 8px;
    line-height: 10px;
    padding-left: 15px;
  }
}

@media (max-width: 425px) {
  h2 {
    font-weight: 300;
    font-size: 18px;
    line-height: 30px;
    text-align: center;
  }
}

/*Footer Styles*/
body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.brand {
  display: flex;
}

.brand p {
  font-size: 0.85rem;
  font-weight: 400;
  margin-left: 5px;
}

footer {
  background: #0A8057;
  padding: 30px 5%;
  display: flex;
  flex-wrap: wrap;
  margin-top: auto;
  color: #FFFFFF;
}

footer .brand {
  align-items: center;
}

footer .link a {
  color: #FFFFFF;
  margin: 0;
}

a#mgt {
  margin-top: 10px;
}

footer .link {
  width: 25%;
}

footer .link h4 {
  font-size: 0.85rem;
  font-weight: 400;
  margin-bottom: 15px;
}

footer .link a {
  font-size: 0.75rem;
  font-weight: 300;
  line-height: 20px;
  color: #FFFFFF;
  display: block;
}

.socials {
  display: flex;
}

.socials img {
  width: 30px;
  height: 30px;
  margin-right: 10px;
}

@media screen and (max-width:720px) {
  footer .link {
      width: 50%;
      margin-bottom: 30px;
  }
  footer .link:nth-child(3),
  footer .link:nth-child(4) {
      margin-bottom: 0;
  }
}