@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans:wght@300;400;500&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

a:hover,
button:hover {
    filter: brightness(0.8);
}

button,
input {
    outline: 0;
    border: 0;
}

body {
    font-family: 'Merriweather Sans', sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

nav {
    display: flex;
    padding: 15px 5%;
}

nav a {
    color: #000;
}

.brand {
    display: flex;
}

.brand img {
    margin-right: 7px;
}

.content {
    width: 90%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
}

.left-content {
    width: 45%;
    top: 50px;
    position: relative;
}

.left-content h3 {
    color: #0A8057;
    font-weight: 400;
    margin-bottom: 20px;
    letter-spacing: 1px;
    font-size: 1.5rem;
}

.left-content p {
    font-size: 0.8rem;
    line-height: 20px;
    color: #333333;
}

.left-content button {
    background: #1FEDA3;
    ;
    width: 70%;
    padding: 0.5rem 0;
    border-radius: 0.4rem;
    margin: 20px 0;
    cursor: pointer;
}

.left-content span.link a {
    color: blue;
}

.right-content {
    width: 55%;
    position: relative;
    height: 400px;
}

.map {
    position: absolute;
    inset: 0;
    height: 100%;
    width: 100%;
}

.map-user {
    position: absolute;
    inset: 0;
    width: 45%;
    height: 100%;
    margin: auto;
    transform: translateX(-20px);
}

footer {
    background: #0A8057;
    padding: 30px 5%;
    display: flex;
    flex-wrap: wrap;
    margin-top: auto;
    color: #FFFFFF;
}

footer .brand {
    align-items: center;
}

footer .link a {
    color: #FFFFFF;
    margin: 0;
}

a#mgt {
    margin-top: 10px;
}

footer .link {
    width: 25%;
}

footer .link h4 {
    font-size: 0.85rem;
    font-weight: 400;
    margin-bottom: 15px;
}

footer .link a {
    font-size: 0.75rem;
    font-weight: 300;
    line-height: 20px;
    color: #FFFFFF;
    display: block;
}

.socials {
    display: flex;
}

.socials img {
    width: 30px;
    height: 30px;
    margin-right: 10px;
}

@media screen and (max-width:720px) {
    .left-content,
    .right-content {
        width: 100%;
        margin-bottom: 30px;
    }
    .left-content {
        order: 1;
        text-align: center;
        top: 0;
    }
    .right-content {
        height: 250px;
    }
    footer .link {
        width: 50%;
        margin-bottom: 30px;
    }
    footer .link:nth-child(3),
    footer .link:nth-child(4) {
        margin-bottom: 0;
    }
}