@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans:wght@300;400;500&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: #333333;
}

a:hover,
button:hover {
    filter: brightness(0.8);
}

.scale {
    transition: transform 0.4s ease-in-out;
}

.scale:hover {
    transform: scale(0.93);
}

button,
input {
    outline: 0;
    border: 0;
}

body {
    font-family: 'Merriweather Sans', sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

nav {
    display: flex;
    padding: 15px 5%;
}

nav a {
    color: #000;
}

.brand {
    display: flex;
}

.brand img {
    margin-right: 7px;
}

.content {
    width: 90%;
    margin: 90px auto 60px auto;
    display: flex;
    flex-wrap: wrap;
}

.left-content {
    width: 45%;
    top: 50px;
    position: relative;
}

.left-content h3 {
    color: #333333;
    font-weight: 600;
    margin-bottom: 20px;
    letter-spacing: 1px;
    font-size: 1.8rem;
}

.left-content p {
    font-size: 0.8rem;
    line-height: 20px;
    color: #333333;
}

.left-content button {
    background: #1FEDA3;
    width: 70%;
    padding: 0.5rem 0;
    border-radius: 0.4rem;
    margin: 35px 0 20px 0;
    cursor: pointer;
}

.left-content span.link a {
    color: blue;
}

.right-content {
    width: 55%;
    position: relative;
    height: 400px;
}

.map {
    position: absolute;
    inset: 0;
    height: 100%;
    width: 100%;
}

.map-user {
    position: absolute;
    inset: 0;
    width: 45%;
    height: 100%;
    margin: auto;
    transform: translateX(-20px);
}

footer {
    background: #0A8057;
    padding: 30px 5%;
    display: flex;
    flex-wrap: wrap;
    margin-top: auto;
    color: #FFFFFF;
}

footer .brand {
    align-items: center;
}

footer .link a {
    color: #FFFFFF;
    margin: 0;
}

a#mgt {
    margin-top: 10px;
}

footer .link {
    width: 25%;
}

footer .link h4 {
    font-size: 0.85rem;
    font-weight: 400;
    margin-bottom: 15px;
}

footer .link a {
    font-size: 0.75rem;
    font-weight: 300;
    line-height: 20px;
    color: #FFFFFF;
    display: block;
}

.socials {
    display: flex;
}

.socials img {
    width: 30px;
    height: 30px;
    margin-right: 10px;
}

.about {
    margin: 0 auto 120px auto;
    width: 100%;
}

.about-row {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 25px;
}

.about h3 {
    color: #0A8057;
    font-size: 1.7rem;
    text-align: center;
    font-weight: 500;
    font-family: 'Merriweather' Sans;
    word-spacing: 3px;
}

.users,
.info {
    width: 45%;
}

.users {
    margin-right: 6%;
    display: flex;
    width: 20%;
    flex-wrap: wrap;
    justify-content: space-between;
}

.users img {
    width: 49%;
    height: 110px;
    margin-bottom: 20px;
    border-radius: 10px;
}

.users img:nth-child(even) {
    position: relative;
    top: 20px;
}

.info h4 {
    font-weight: 500;
    font-size: 0.9rem;
    margin-bottom: 15px;
}

.info p {
    font-size: 0.8rem;
    margin-bottom: 20px;
    line-height: 165%;
    color: #333333;
}

p.subtitle {
    font-size: 0.7rem;
    font-weight: 300;
    text-align: center;
    margin: 5px 0 25px 0;
}

.about-buttons {
    display: flex;
    margin-top: 15px;
}

.about-buttons button {
    border-radius: 5px;
    padding: 8px 0;
    width: 130px;
    cursor: pointer;
}

.about-buttons button:nth-child(1) {
    background-color: #1FEDA3;
    margin-right: 20px;
}

.about-buttons button:nth-child(2) {
    border: 1px solid #0A8057;
}

.why-us {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 80%;
    margin: auto;
}

.why-card {
    width: 25%;
    background: #FFFFFF;
    box-shadow: 3px 5px 5px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    padding: 30px 20px;
}

.why-card .card-avatar {
    border-radius: 50%;
    margin: auto;
    background: #D9FFCC;
    width: 64px;
    height: 64px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.why-card:nth-child(2) .card-avatar {
    background: #FFF1CC;
}

.why-card:nth-child(3) .card-avatar {
    background: #FFDECC;
}

.why-card h4 {
    font-weight: 500;
    font-size: 0.9rem;
    text-align: center;
    margin: 15px 0;
}

.why-card p {
    font-size: 0.7rem;
    text-align: center;
    font-weight: 300;
    line-height: 155%;
}

.steps {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 40%;
    margin: auto;
}

.step {
    background: #FFFFFF;
    box-shadow: 3px 5px 5px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    width: 90px;
    height: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.step div {
    border-radius: 50%;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #D9FFCC;
    margin: 0 auto 15px auto;
}

.step h4 {
    font-size: 0.85rem;
    font-weight: 500;
    text-align: center;
}

.step .step-2 {
    background: #FFF1CC;
}

.step .step-3 {
    background: #FFDECC;
}

.comments {
    display: flex;
    justify-content: space-between;
    width: 45%;
    margin: 30px auto;
}

div.comment {
    width: 40%;
    background-color: #D3FFEF;
    background-image: url(../images/comment-bg.png);
    background-size: 100% 60%;
    background-repeat: no-repeat;
    background-position: left bottom;
    padding: 25px 15px;
    border-top-left-radius: 35px;
}

.comment img {
    width: 65px;
    height: 65px;
    display: block;
    margin: auto;
    border-radius: 50%;
}

.comment p.comment {
    font-size: 0.9rem;
    line-height: 155%;
    color: #0A8057;
}

.comment h4 {
    font-weight: 400;
    color: #FFFFFF;
    text-align: center;
    margin-bottom: 5px;
}

.comment p {
    font-size: 0.7rem;
    color: #FFFFFF;
    text-align: center;
}

.comment p.comment {
    margin-bottom: 20px;
}

.form {
    display: flex;
    justify-content: center;
    width: 40%;
    margin: auto;
}

.form input {
    width: 75%;
    height: 40px;
    border: 1px solid #E0E0E0;
    border-radius: 5px;
    padding: 0 10px;
}

.form button {
    width: 20%;
    margin-left: 10px;
    border-radius: 5px;
    padding: 5px 0;
    background: #1FEDA3;
    cursor: pointer;
}

@media screen and (max-width:950px) {
    .why-us {
        width: 90%;
    }
    .why-card {
        width: 32%;
    }
    .steps {
        width: 60%;
    }
    .comments {
        width: 75%;
    }
}

@media screen and (max-width:720px) {
    .left-content,
    .right-content {
        width: 100%;
        margin-bottom: 30px;
    }
    .left-content {
        order: 1;
        text-align: center;
        top: 0;
    }
    .right-content {
        height: 250px;
    }
    footer .link {
        width: 50%;
        margin-bottom: 30px;
    }
    footer .link:nth-child(3),
    footer .link:nth-child(4) {
        margin-bottom: 0;
    }
    .about-row {
        width: 90%;
        margin: auto;
        text-align: center;
    }
    .info {
        width: 100%;
    }
    .users {
        width: 70%;
        margin: 15px 0 40px 0;
    }
    .info h4 {
        margin-top: 15px;
    }
    .about-buttons {
        justify-content: center;
    }
    .about h3 {
        font-size: 1.5rem;
    }
    .why-card {
        width: 70%;
        margin: 20px auto;
    }
    .steps {
        width: 90%;
    }
    .step {
        width: 70px;
        height: 70px;
    }
    .steps img {
        width: 30px;
        height: 30px;
    }
    .comments {
        width: 95%;
    }
    div.comment {
        width: 48%;
    }
    .comment p.comment {
        font-size: 0.8rem;
    }
    .form {
        width: 85%;
    }
}

@media screen and (max-width:480px) {
    .users {
        width: 80%;
        margin: 15px 0 40px 0;
    }
    .comments {
        width: 100%;
        flex-wrap: wrap;
    }
    div.comment {
        width: 70%;
        margin: 0 auto 20px auto;
    }
    .about {
        padding: 0 15px;
    }
    .about h3 {
        font-size: 1.25rem;
    }
    .form {
        width: 100%;
    }
    .steps {
        width: 100%;
    }
    .step {
        width: 55px;
        height: 55px;
    }
    .steps img {
        width: 20px;
        height: 20px;
    }
    .why-card {
        width: 790%;
        margin: 20px auto;
    }
}