header {
    position: fixed;
    width: 100%;
    z-index: 10;
}

nav {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 15px 30px;
    margin-bottom: 40px;
    background-color: #FFFFFF;
}

.brand {
    width: 15%;
}

.brand img {
    width: 15px;
    height: 20px;
}

.brand a {
    padding: 5px 0;
    font-size: 0.9rem;
    border-bottom: 2px solid transparent;
    display: inline-flex;
    align-items: center;
    transform: translateY(-3px);
}

.brand a:active,
.brand a:hover {
    border-bottom-color: #1FEDA3;
}

.links {
    display: flex;
    justify-content: flex-end;
    width: 84%;
}

.links button {
    outline: 0;
    border: 0;
    background-color: #1FEDA3;
    padding: 5px 20px;
    border-radius: 3px;
    margin-right: 30px;
}

.links button a {
    font-size: 0.8rem;
}

.links button a:hover,
.links button a:active {
    border: 0;
    color: inherit;
}

.links a {
    font-size: 0.8rem;
    color: #333333;
    margin-right: 30px;
    padding: 5px 0;
    border-bottom: 2px solid transparent;
}

.links a:active,
.links a:hover {
    border-bottom-color: #1FEDA3;
    color: #1FEDA3;
}

.links a:last-child {
    margin-right: 0;
}

div.mobile-nav {
    width: calc(100% - 50px);
    height: 100vh;
    max-height: 100vh;
    overflow: hidden;
    background-color: rgba(31, 237, 163, 1);
    position: absolute;
    inset: 0;
    z-index: 99;
    padding: 20px;
    transform: translateX(-100%);
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: transform 0.5s ease-in-out;
}

nav img.menu,
nav img.close {
    display: none;
    cursor: pointer;
}

.mobile-nav img {
    display: block;
    margin-left: auto;
}

@media screen and (max-width:720px) {
    .brand {
        width: 35%;
    }
    nav {
        padding: 10px 15px;
    }
    header nav img.hide-icon {
        display: none;
    }
    nav img.menu {
        display: block;
    }
    nav img.close {
        display: block;
    }
    nav div.links {
        display: none;
    }
    div.mobile-nav.show {
        transform: translateX(0);
    }
    div.mobile-nav img.close {
        cursor: pointer;
        transition: transform 0.5s ease-in-out;
    }
    div.mobile-nav img.close:hover {
        transform: scale(1.2);
    }
    div.mobile-nav a {
        font-size: 1.3rem;
        color: #FFFFFF;
        margin-bottom: 20px;
        display: block;
        padding: 10px 0;
        border-bottom: transparent 2px solid;
    }
    div.mobile-nav a.last-link {
        margin-bottom: 0px;
    }
    div.mobile-nav a:hover,
    div.mobile-nav a:active {
        border-bottom-color: #C4C4C4;
        color: #C4C4C4;
        filter: brightness(1);
    }
    div.mobile-nav button a {
        margin-bottom: 0;
    }
    div.mobile-nav button a:active,
    div.mobile-nav button a:hover {
        border-bottom-color: transparent;
        color: inherit;
    }
    div.mobile-nav button {
        border: 0;
        outline: 0;
        width: 50%;
        margin: 15px auto 0 auto;
        border-radius: 15px;
        background-color: #0A8057;
        padding: 0 0;
    }
}